@tailwind components;

@layer components {
    .group,
    .fieldset {
        position: relative;
        margin-bottom: var(--grid-gap);
    }

    .group label,
    .fieldset legend {
        @apply mb-1 table;
    }

    .group label {
        @apply text-xs font-bold text-grey-700;
    }

    .fieldset legend {
        @apply mb-2 text-sm font-bold text-grey;
    }

    .fieldsetContent {
        @apply flex flex-wrap gap-2;
    }

    .fieldsetGrid {
        @apply grid gap-2;
    }

    .fieldsetGrid.fieldsetGrid-2 {
        @apply grid-cols-2;
    }

    .wrapper {
        @apply relative;
    }

    .input {
        @apply w-full rounded-md border border-solid border-grey-400 bg-grey-100 px-2 text-xs shadow-[0_1px_2px_1px_rgba(0,0,0,0.05)] outline-none transition-all;
    }

    .input[type="number"],
    .input[type="number"]:hover {
        @apply appearance-none;
    }

    .input.readonly {
        @apply border-grey-300 bg-grey-300 opacity-100 shadow-none;
    }

    .input.input-sm {
        @apply h-9;
    }

    .input.input-md {
        @apply h-12;
    }

    .input.input-lg {
        @apply h-14;
    }

    textarea.input {
        @apply h-32 py-2;
    }

    textarea.input.input-sm {
        @apply h-20;
    }

    textarea.input.input-lg {
        @apply h-40;
    }

    .input::placeholder {
        @apply text-grey-500;
    }

    .input:hover {
        @apply border-blue-300;
    }

    .input:focus,
    .input:active {
        @apply border-blue-500 shadow-[0_0_0_3px_rgba(69,159,255,0.15)] outline-none;
    }

    .addon {
        @apply absolute top-1/2 right-[10px] -mt-2;
    }

    .addon svg {
        @apply h-4 w-4;
    }

    .addon + .input {
        @apply pr-9;
    }

    select.input:not([size]):not([multiple]) {
        @apply appearance-none bg-[right_8px_center] bg-no-repeat pr-8;
    }

    .buttons {
        @apply flex grow flex-col-reverse;
    }

    .switch,
    .options {
        @apply relative flex items-center gap-2;
    }

    .optionButtons {
        @apply relative flex items-center gap-2;
    }

    .optionButtons input {
        @apply absolute top-3 left-3 h-4 w-4 pl-8;
    }

    .optionButtons label {
        @apply flex h-10 basis-full cursor-pointer items-center rounded border border-grey-400 bg-white pl-10 pr-4 text-sm transition-all;
    }

    .optionButtons input:checked + label {
        @apply border-blue-300 bg-blue-100 text-blue;
    }

    .switchField {
        --switch-handle-size: 16px;
        --switch-shadow-color: rgb(255, 255, 255);
        --switch-shadow: calc(var(--switch-handle-size) * -1) 0 0 2px var(--switch-shadow-color) inset,
            0 0 0 2px var(--switch-shadow-color) inset;
        --switch-bg: rgba(176, 179, 182);
        box-shadow: var(--switch-shadow);
        background-color: var(--switch-bg);
        border-color: var(--switch-bg);
        height: var(--switch-handle-size);
        width: calc(var(--switch-handle-size) * 2);
        @apply shrink-0 cursor-pointer appearance-none rounded-full border transition-all;
    }

    .switchField:checked,
    .switchField[checked],
    .switchField[checked="true"],
    .switchField[aria-checked="true"] {
        --switch-bg: rgba(0, 78, 161);
        --switch-shadow: var(--switch-handle-size) 0 0 2px var(--switch-shadow-color) inset,
            0 0 0 2px var(--switch-shadow-color) inset;
    }

    .switchField + label {
        @apply cursor-pointer;
    }

    .switchWorded {
        @apply absolute h-0 w-0 opacity-0;
    }

    .switchWorded + label {
        @apply relative inline-flex shrink-0 cursor-pointer overflow-hidden rounded-full border border-grey-500 text-[0px] text-grey-500 transition-all;
        box-shadow: 0 0 0 1px white;
    }

    .switchWorded:checked + label,
    .switchWorded[checked] + label,
    .switchWorded[checked="true"] + label,
    .switchWorded[aria-checked="true"] + label {
        @apply border-blue;
    }

    .switchWorded + label::before,
    .switchWorded + label::after {
        @apply transition-all;
    }

    .switchWorded + label::before {
        content: attr(data-text-false);
        @apply relative py-1 pl-8 pr-3 text-xs;
    }

    .switchWorded + label::after {
        content: "";
        @apply absolute top-0 left-0 h-6 w-6 rounded-full border-2 border-white bg-grey-500;
    }

    .switchWorded:checked + label::before,
    .switchWorded[checked] + label::before,
    .switchWorded[checked="true"] + label::before,
    .switchWorded[aria-checked="true"] + label::before {
        content: attr(data-text-true);
        @apply pl-3 pr-8 text-blue;
    }

    .switchWorded:checked + label::after,
    .switchWorded[checked] + label::after,
    .switchWorded[checked="true"] + label::after,
    .switchWorded[aria-checked="true"] + label::after {
        @apply left-[calc(100%_-_24px)] bg-blue;
    }

    .numberFieldGroup {
        @apply mb-0;
    }

    .numberField {
        @apply relative;
    }

    .numberField .input {
        @apply px-8 text-center;
    }

    .numberControl {
        @apply absolute top-0 grid h-9 w-9 place-items-center text-grey-700;
    }

    .numberControl:active {
        @apply top-[2px];
    }

    .numberControl:first-child {
        @apply left-0;
    }

    .numberControl:last-child {
        @apply right-0;
    }
}
