@tailwind components;

@layer components {
    .table {
        @apply flex flex-col;
    }

    .table[data-cell-gap="0"] {
        --cell-gap: 0;
    }

    .table[data-cell-gap="8"] {
        --cell-gap: 0.5rem;
    }

    .table[data-cell-gap="12"] {
        --cell-gap: 0.75rem;
    }

    .head {
        @apply sticky top-16 z-10 border-b-2 border-grey-400 bg-white font-bold;
    }

    .body > .row {
        @apply border-b border-grey-400;
    }

    .body > .row:nth-child(odd) {
        @apply bg-grey-100;
    }

    .body > .row:nth-child(odd) .card {
        @apply bg-white;
    }

    .body > .row:nth-child(odd) .card .card {
        @apply bg-grey-100;
    }

    .body > .row:nth-child(even) .card {
        @apply bg-grey-100;
    }

    .body > .row:nth-child(even) .card .card {
        @apply bg-white;
    }

    .body > .row:hover {
        @apply bg-grey-200;
    }

    .body > .row:last-child {
        @apply border-b-0;
    }

    .foot > .row {
        @apply border-b border-grey-400;
    }

    .row {
        @apply flex flex-wrap transition-all;
    }

    .row .cell {
        @apply grow basis-1/4 overflow-hidden text-ellipsis whitespace-nowrap py-5 text-xs;
    }

    .row .cell > * {
        @apply mb-0;
    }

    .row .cell:first-child:not(.action) {
        @apply pl-4;
    }

    .row .cell:last-child:not(.action) {
        @apply pr-4;
    }

    .row:last-child .cell:first-child {
        @apply rounded-bl;
    }

    .row:last-child .cell:last-child {
        @apply rounded-br;
    }

    .row_inner {
        display: flex;
        flex-basis: 100%;
        gap: var(--cell-gap);
    }

    .extend {
        @apply pointer-events-none flex h-0 min-w-full basis-full flex-wrap gap-2 overflow-hidden pl-16 pr-2;
    }

    .extend.show {
        @apply pointer-events-auto h-auto overflow-visible pb-2;
    }

    .card {
        @apply relative flex basis-full flex-wrap rounded shadow-[0_1px_3px_0_rgba(50,70,91,0.15)];
    }

    .card::before {
        @apply pointer-events-none absolute left-2 top-2 h-[calc(100%-16px)] w-1 rounded transition-all;
        content: "";
    }

    .card:hover::before {
        @apply bg-green;
    }

    .card > div:not(.extend):not(.action) {
        @apply py-4 pl-0 pr-8;
    }

    .card > div:not(.extend):not(.action):not(.cell-label) {
        @apply grow basis-1/4;
    }

    .card > div:not(.extend):not(.action):first-child {
        @apply pl-8;
    }

    .label {
        @apply text-xs text-grey-600;
    }

    .value {
        @apply font-medium;
    }

    .action {
        @apply relative z-0 flex max-w-[4rem] basis-16 cursor-pointer items-center justify-center;
    }

    .icon {
        @apply text-blue;
    }

    .tagTable {
        @apply w-full text-left;
    }

    .tagTable td,
    .tagTable th {
        @apply relative overflow-hidden border border-grey-400 p-3;
    }

    .tagTable thead td,
    .tagTable thead th,
    .tagTable tfoot td,
    .tagTable tfoot th {
        @apply bg-grey-200;
    }

    .tagTable .striped tbody tr:nth-child(odd) td,
    .tagTable .striped tbody tr:nth-child(odd) th {
        @apply bg-grey-100;
    }
}
