@tailwind components;
@import "../cores/variables";
@import "../cores/mixins";
@import "../extend/animate";
@import "../extend/scrollbar-remove";

@layer components {
    .wrapper {
        @apply sticky top-0 left-0 z-10 flex h-screen grow-0 basis-auto flex-col;
        flex: 0 0 auto;
        background-color: var(--mono-000);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        color: var(--body-color);
        width: calc(var(--layout-drawer-width) + var(--spacer-8));
        @extend %extend-animate;

        a {
            text-decoration: none;
            color: inherit;
            white-space: nowrap;

            @include hover {
                text-decoration: none;
            }
        }

        &.hide {
            // --layout-drawer-width: #{$spacer-64};

            // .head {
            //     @apply items-center justify-center;
            // }

            .link {
                @apply items-center justify-center p-0;
                width: var(--layout-drawer-width);
                height: var(--layout-drawer-width);
            }

            .text,
            .subIcon,
            .sub,
            .foot .content {
                display: none;
            }
        }

        &.show {
            // --layout-drawer-width: 16rem;
        }
    }

    .logo {
        @apply flex;
    }

    .drawer {
        @apply flex h-full shrink grow flex-col;
        // width: var(--layout-drawer-width);
    }

    // .head,
    .foot {
        @apply flex grow-0 items-center justify-between;
        @extend %extend-animate;

        .content {
            padding: $spacer-8;
        }
    }

    // .head {
    //     padding: $spacer-8;
    // }

    .body {
        @apply flex grow justify-center overflow-y-auto overflow-x-visible;
        scrollbar-color: var(--mono-010) transparent;
        @extend %extend-scrollbar-thin;
    }

    .nav {
        @apply flex flex-col;
        font-size: $font-size-12;
    }

    .item {
        @apply relative flex grow flex-wrap;
    }

    .link {
        @apply flex shrink-0 grow cursor-pointer flex-col items-center justify-center py-4;
        text-decoration: none;
        max-width: $spacer-96;
        gap: var(--gap);
        @extend %extend-animate;

        > .text {
            @apply flex basis-auto items-center text-center;
        }

        > .icon {
            @apply break-words;
            --icon-size: #{$spacer-24};
        }

        &.active {
            @apply font-bold;
            color: var(--color-primary);
        }

        @include hover {
            text-decoration: none;
            color: var(--color-primary);
        }
    }

    .icon {
        height: $spacer-24;
        width: $spacer-24;
        min-width: $spacer-24;
        flex-basis: $spacer-24;
    }

    .sub {
        @apply pointer-events-none left-full h-0 basis-full overflow-hidden;
        @extend %extend-animate;
    }

    .active {
        @apply pointer-events-auto h-auto overflow-visible;
        padding-bottom: $spacer-16;
    }

    .subItem {
        display: flex;
    }

    .subLink {
        @apply relative basis-full no-underline;
        padding-top: $spacer-12;
        padding-bottom: $spacer-12;
        padding-left: $spacer-56;
        @extend %extend-animate;

        &.active {
            font-weight: 500;
            color: var(--color-primary);
        }

        @include hover {
            background-color: var(--mono-002);
            font-weight: 500;
            color: var(--color-primary);
        }
    }
}
