@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    :root {
        --sidebar-width: 16rem;
    }

    html {
        scrollbar-color: #393a3b transparent;
    }

    html::-webkit-scrollbar {
        @apply w-1 h-2;
    }

    html::-webkit-scrollbar-track {
        @apply bg-transparent border-2 border-transparent border-solid;
    }

    html::-webkit-scrollbar-thumb {
        @apply rounded-full bg-grey;
    }

    body,
    html {
        @apply flex flex-col h-full text-grey-700;
    }

    body {
        @apply text-sm bg-grey-300;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-grey;
    }

    h4 {
        @apply mb-6 text-lg font-medium text-grey;
    }

    h5 {
        @apply mb-6 text-base font-medium text-grey-700;
    }

    body > div:first-child {
        @apply flex flex-col shrink grow;
    }

    a {
        @apply underline text-blue;
    }

    a:hover {
        @apply no-underline;
    }

    .disabled,
    [disabled],
    :disabled {
        @apply cursor-default pointer-events-none opacity-30;
    }

    .label {
        @apply text-xs text-grey-600;
    }

    .value {
        @apply font-medium;
    }

    .is-hidden {
        @apply absolute hidden h-0 overflow-hidden pointer-events-none;
    }

    .icon {
        height: var(--icon-size);
        width: var(--icon-size);
    }

    .icon[data-icon-size="16"] {
        --icon-size: 1rem;
    }

    .icon[data-icon-size="24"] {
        --icon-size: 1.5rem;
    }

    .icon[data-icon-size="32"] {
        --icon-size: 2rem;
    }

    .icon[data-icon-size="48"] {
        --icon-size: 3rem;
    }

    .icon[data-icon-size="64"] {
        --icon-size: 4rem;
    }
}
